{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<!-- Page Header-->
<header
    class="masthead"
    style="background-image: url('static/img/redwinewhitewine.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>
                        Red Wine vs White Wine: The Real Differences
                    </h1>
                    <span class="meta">
                        Written by Madeline Puckette
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    The differences between red and white wines go far beyond just the choice of grapes and the color. 
                    Here are several fascinating facts about the real differences between red and white wines.
                </p>
                <h2 class="section-heading">Red Wine vs White Wine</h2>
                <a href="#!"
                    ><img
                        class="img-fluid"
                        src="static/img/redwinewhitewine1.jpg"
                        alt="..."
                /></a>
                <h2 class="section-heading">Made with Different Grapes</h2>
                <p>
                    Fundamentally speaking, red wines are made with red grapes (Pinot Noir, Cabernet Sauvignon, etc.) and white wines are made with white grapes (Chardonnay, Pinot Grigio, etc). What’s interesting, though, is that nearly all wines we find in the marketplace were originally made from one species of grape called Vitis vinifera. Ampelographers believe that the first Vitis vinifera grapes were black grapes (e.g. red wine grapes) and that a natural mutation created the first white grapes.
                </p>
                <p>
                    For example, Pinot Noir (a black grape), Pinot Gris (a pinkish-gray grape), and Pinot Blanc (a white grape) all share the same DNA!
                </p>
                <a href="#!"
                    ><img
                        class="img-fluid"
                        src="static/img/redwinewhitewine2.jpg"
                        alt="..."
                /></a>
                <h2 class="section-heading">Made Using Different Parts of the Grape</h2>
                <p>
                    After the grapes are picked and head to the cellar for winemaking, different processes are used to make red wine versus to make white wine. One of the most important differences is that red wines are fermented with the grape skins and seeds and white wines are not. This is because all the color in red wine comes from the skins and seeds of the grapes.
                </p>
                <p>
                    There are a couple of special cases where this isn’t true and the result is very different tasting wines. For example, there is a type of Champagne called “Blanc de Noirs” or “white of blacks,” which is made in a similar way to white wine making and ends up to be a wine that looks like a white wine. Another example of this is White Pinot Noir, or Pinot d’Alsace.
                </p>
                <p>
                    With white wines, there is also a special method where white grapes are fermented with the skins and seeds of the white grapes. Wines made with this technique are referred to as Orange Wines, and they taste similar to red wines and have tannin. This technique is still quite rare and the wines are unlike any other!
                </p>
                <a href="#!"
                ><img
                    class="img-fluid"
                    src="static/img/redwinewhitewine3.jpg"
                    alt="..."
                /></a>
                <h2 class="section-heading">Made with Different Wine Making Methods</h2>
                <p>
                    Red wines are loved for their soft, rich, and velvety flavors, whereas white wines are loved for their zesty acidity, floral aromas, and pure fruit notes. To achieve these results, winemakers enlist two very different methods of winemaking. The largest difference between red winemaking and white winemaking is the oxidation that causes the wines to lose their floral and fruit notes in exchange for rich, nutty flavors and more smoothness. To increase oxygen, winemakers use oak barrels because they breathe and allow the wine to ingress oxygen. To reduce the exposure to oxygen, winemakers use stainless steel tanks, which ensures that wines retain their fruitiness and flower flavors.
                </p>
                <a href="#!"
                ><img
                    class="img-fluid"
                    src="static/img/redwinewhitewine4.jpg"
                    alt="..."
                /></a>
                <h2 class="section-heading">Each Type Has Different Chemical Compounds</h2>
                <p>
                    So, the big question remains:
                </p>
                <p>
                    “Which type of wine is better for you?”
                </p>
                <p>
                    Well, since all the health benefits associated with wine are found in the skins and seeds of the wine grape, then red wines are the style of wine that’s commonly considered “better” for you. That said, not all red wines are equally!
                </p>
                <h2 class="section-heading">A Drinking Guide to Wine</h2>
                <p>
                    Want to learn more about wine? This book provides the basics and everything you really need to know about wine and how to find new wines you’ll like. Pair this book with the wine tasting challenge and you’ll get wine smarter simply by drinking.  
                </p>
            </div>
        </div>
    </div>
</article>
{% endblock %}