{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<!-- Page Header-->
<header
    class="masthead"
    style="background-image: url('static/img/sciencewine.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>
                        Some Nifty Science to Help You Identify Wine Aromas
                    </h1>
                    <span class="meta">
                        Written by Andrea Buffa
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                Let’s understand wine aromas through the science behind them. As it turns out, those little whiffs of fruit, flowers, and “minerality” help us deconstruct a wine.
                </p>
                <p>
                    Behind those countless flavors we sniff is a molecule. It enters your nose, impacts your olfactory receptors, and generates a signal to your brain which tells us things like, “I’m smelling strawberry!”
                </p>
                <a href="#!"
                    ><img
                        class="img-fluid"
                        src="static/img/sciencewine1.jpg"
                        alt="..."
                /></a>
                <p>
                    These molecules are tiny clusters of carbon atoms generated during grape ripening, alcoholic and malolactic fermentation, and wine aging. We can split aromas into 3 types:
                </p>
                <p>
                    Varietal Aromas: Smells associated with the wine variety or blend of varieties, 
Fermentation Aromas: Flavors associated with microbial respiration (e.g. yeast eating sugars and “off-gassing” aromas) and
Aging Bouquets: Aromas derived from the breakdown of chemical compounds with time, temperature, and oxygen.
                </p>
                <p>
                    By the way, enologist and researcher Dr. Luigi Moio gives an exciting and clear explanation of the origin of the wine aromas in his book “The Breath of Wine” (Il respiro del vino). I’ve referenced it for this article.
                </p>
                <a href="#!"
                    ><img
                        class="img-fluid"
                        src="static/img/sciencewine2.jpg"
                        alt="..."
                /></a>
                <h2 class="section-heading">Varietal Wine Aromas (aka “Primary Aromas”)</h2>
                <p>
                    Sommeliers often refer to varietal aromas as “primary aromas.”
                </p>
                <p>
                    Varietal aromas happen through vine metabolism as grapes mature. We believe they’re created as a survival technique: to make the grapes more attractive for animals to eat and spread seeds around.
                </p>
                <p>
                    For example, the ancient wine variety Moscato Bianco is very high in a compound group called monoterpenes. Because of this, ripe grapes smell extra sweet and floral around harvest.
                </p>
                <h2 class="section-heading">Primary Wine Aroma Examples</h2>
                <p>
                    Monoterpenes (including linalool, geraniol, and nerol) smells like lychee, rose, and sweet perfume. Commonly found in aromatic wine varieties like Moscato Bianco, Gewürztraminer, and Moschofilero.
                </p>
                <p>
                    Methoxypyrazines (there are 4 major compounds) smells like, green pea, earthy, green pepper, or musty green aromas. You can find this in Sauvignon Blanc, Carménère, and Bordeaux varieties. (a natural bug repellent)
                </p>
                <p>
                    Sesquiterpenes (including Rotundone and ylangene) smells like black pepper and is commonly associated with Syrah, Grüner Veltliner, and Mourvèdre.
                </p>
                <p>
                    Varietal Thiols (such as 3-MHA and 2-MMP) smells like passionfruit, grapefruit, or even roasted meat and black currant. In many red and white wines (need an example? Try a NZ Sauvignon Blanc!)
                </p>
                <p>
                    You can’t perceive certain primary aromas. This is because they’re bonded to other bigger compounds that prevent them from volatilizing (and floating into our noses).
                </p>
                <p>
                    If you think this is bad, think twice! If all aromas were immediately perceivable the wine would have a very intense aroma for a very short time. Fortunately, hidden aromas release slowly over time. Dr. Moio believes this gives wines longevity and is the secret why Alsatian wines become more aromatic as they age!
                </p>
                <a href="#!"
                ><img
                    class="img-fluid"
                    src="static/img/sciencewine3.jpg"
                    alt="..."
                /></a>
                <h2 class="section-heading">Fermentation Wine Aromas</h2>
                <p>
                    Sommeliers refer to some fermentation aromas as “secondary aromas.”
                </p>
                <p>
                    During alcoholic fermentation, the yeast called Saccharomyces cerevisiae transforms grape sugar into carbon dioxide and ethyl alcohol. But It does much more than just that!
                </p>
                <p>
                    A yeast cell is a tiny chemical lab producing a large variety of molecules including esters. Esters are particularly strong right after the fermentation and can smell vinous and like apple, tropical fruit, or even red berries. (try Beaujolais Nouveau for a study on esters!)
                </p>
                <p>
                    Also, the tiny bacteria that performs malolactic fermentation (which softens acids in wine) puts out buttery, toasting, spicy, and even nutty aromas.
                </p>
                <h2 class="section-heading">Fermentation Aroma Examples</h2>
                <p>
                    Acetoin and Diacetyl: Malolactic fermentation causes these sweet butter or cream smells (found in both red and white wines).
Ethyl Esters (over a dozen unique compounds) Many smell like cooked apple, apple peel, banana, pineapple, or almost rum-like. Sometimes esters combine to create other new flavors.
                </p>
                <h2 class="section-heading">Aging Wine Bouquets</h2>
                <p>
                    Sommeliers sometimes refer to aging bouquets as “tertiary aromas.”
                </p>
                <p>
                    Wine aging in tanks, barrels, or bottles causes its own bouquets. There are three mechanisms that make these bouquets: chemical reactions, oxidation, and wood flavors.
                </p>
                <h2 class="section-heading">Chemical Reactions</h2>
                <p>
                    Molecules form when chemicals within the wine react with one another to form new ones. For example, alcohols and acids interact to create esters. These chemical reactions happen when the wine is in tank or bottle and protected from oxygen.
                </p>
                <h2 class="section-heading">Oxidation</h2>
                <p>
                    When wines age in terracotta tanks or wood they experience micro-oxidation which can produce compounds like acetic aldehydes (acetaldehyde).
                </p>
                <p>
                    For example, wines like Sherry or Madeira, age directly exposed to oxygen and produce flavors like dried fruits, nuts, and caramelized sugar.
                </p>
                <h2 class="section-heading">Wood Flavors</h2>
                <p>
                    Wood releases aromatic compounds into the wine. Of course, each species of oak or chestnut used in winemaking imparts different flavors. Also, the geographical origin of the wood and barrel toasting (thermal treatment) also affects flavors.
                </p>
                <p>
                    Methyl octalactones and produce woody and coconut aromas,
Eugenol smells like cloves or allspice and
Vanillin is the same compound in vanilla.
                </p>
                <a href="#!"
                ><img
                    class="img-fluid"
                    src="static/img/sciencewine4.jpg"
                    alt="..."
                /></a>
                <h2 class="section-heading">Last Word: Call Them Whatever You Like</h2>
                <p>
                    There’s a dizzying array of flavors found in wine even though it’s only old grapes. Of course, now we know how the combination of grape, fermentation, and aging unlock countless flavors.
                </p>
                <p>
                    After reading a few of the often-unpronounceable chemical names of wine aroma molecules, it’s understandable why sommeliers prefer to stick to a library of fragrances that we can all relate to!
                </p>
            </div>
        </div>
    </div>
</article>
{% endblock %}