{% extends 'base.html' %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    .btn-primary {
        background-color: #5b2c6f;
        border-color: #5b2c6f;
        font-family: "Lora", serif; /* Added font-family to match */
    }
    .btn-primary:hover {
        background-color: #7d3c98;
        border-color: #7d3c98;
    }
    .btn-primary:disabled {
        background-color: #d1c4e9;
        border-color: #d1c4e9;
    }
    .btn-primary:disabled:hover {
        background-color: #d1c4e9;
        border-color: #d1c4e9;
    }
</style>
{% endblock %}
{% block body %}
<!-- Page header  -->
<header class="masthead" style="background-image: url('static/img/winetester.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Wine Tester</h1>
                    <span class="subheading">Find out the quality of your wine with the help of advanced machine learning analysis</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Form -->
<section class="wine-form mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 bg-light rounded-3">
                <form id="wineForm" method="POST">
                    {{ form.hidden_tag() }}

                    <div class="form-group mt-3 mb-3">
                        {{ form.target.label(class="form-label") }}
                        {{ form.target(class="form-select", id="target") }}
                    </div>
                    <div class="form-group mb-3" id="Alcohol">
                        {{ form.alcohol.label(class="form-label") }}
                        {{ form.alcohol(class="form-control", type="number") }}
                    </div>
                    <div class="form-group mb-3" id="Malic_Acid">
                        {{ form.malicAcid.label(class="form-label") }}
                        {{ form.malicAcid(class="form-control", type="number") }}
                    </div>
                    <div class="form-group mb-3" id="Ash">
                        {{ form.ash.label(class="form-label") }}
                        {{ form.ash(class="form-control", type="number") }}
                    </div>
                    <div class="form-group mb-3" id="Ash_Alcanity">
                        {{ form.ashAlcanity.label(class="form-label") }}
                        {{ form.ashAlcanity(class="form-control", type="number") }}
                    </div>
                    <div class="form-group mb-3" id="Magnesium">
                        {{ form.magnesium.label(class="form-label") }}
                        {{ form.magnesium(class="form-control", type="number") }}
                    </div>
                    <div class="form-group mb-3" id="Total_Phenols">
                        {{ form.totalPhenols.label(class="form-label") }}
                        {{ form.totalPhenols(class="form-control", type="number") }}
                    </div>
                    <div class="form-group mb-3" id="Flavanoids">
                        {{ form.flava.label(class="form-label") }}
                        {{ form.flava(class="form-control", type="number") }}
                    </div>
                    <div class="form-group mb-3" id="Nonflavanoid_Phenols">
                        {{ form.nonFlava.label(class="form-label") }}
                        {{ form.nonFlava(class="form-control", type="number") }}
                    </div>
                    <div class="form-group mb-3" id="Proanthocyanins">
                        {{ form.pro.label(class="form-label") }}
                        {{ form.pro(class="form-control", type="number") }}
                    </div>
                    <div class="form-group mb-3" id="Color_Intensity">
                        {{ form.color.label(class="form-label") }}
                        {{ form.color(class="form-control", type="number") }}
                    </div>
                    <div class="form-group mb-3" id="Hue">
                        {{ form.hue.label(class="form-label") }}
                        {{ form.hue(class="form-control", type="number") }}
                    </div>
                    <div class="form-group mb-3" id="OD280">
                        {{ form.od280.label(class="form-label") }}
                        {{ form.od280(class="form-control", type="number") }}
                    </div>
                    <div class="form-group mb-3" id="Proline">
                        {{ form.proline.label(class="form-label") }}
                        {{ form.proline(class="form-control", type="number") }}
                    </div>
                    <div class="mb-3 text-center">
                        {{ form.submit(class="btn btn-primary btn-lg", id="submitBtn") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
$(document).ready(function() {
    $('#submitBtn').prop('disabled', true);

    $('#target').change(function() {
        if ($(this).val() !== "") {
            $('#submitBtn').prop('disabled', false).show();
        } else {
            $('#submitBtn').prop('disabled', true).hide();
        }
    });

    $('#wineForm').submit(function(event) {
        let valid = true;
        const target = $('#target').val();
        const targetFieldId = target.replace('_', '_');

        $('#wineForm .form-control').each(function() {
            if ($(this).val() === "" && $(this).closest('.form-group').attr('id') !== targetFieldId) {
                valid = false;
                $(this).addClass('is-invalid');
            } else {
                $(this).removeClass('is-invalid');
            }
        });

        if (!valid) {
            event.preventDefault();
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please fill out all the fields before submitting the form, except for the target attribute.',
            });
        }
    });

    $('#target').change(function() {
        const target = $(this).val();
        $('.form-group').show();

        if (target !== "") {
            $(`#${target}`).hide();
        }
    }).change();
});
</script>
{% endblock %}
